#Practica 3

Vamos a realizar un análisis descriptivo de un dataset sobre los videojuegos más vendidos. Para este análisis tenemos los siguientes datos:

Rank: Posición en el ranking de los videojuegos más vendidos.
Platform: plataforma a la que pertenece el juego.
Year: Año de publicación.
Genre: Género del juego.
Publisher: empresa que comercializa el juego.
NA_Sales: Ventas del juego en América del norte (en millones).
EU_Sales: Ventas del juego en Europa (en millones).
JP_Sales: Ventas del uego en Japon (en millones).
Other_Sales: Ventas del juego en el resto del mundo (en millones).
Global_Sales: Ventas totales del juego (en millones).

Además he creado otro CSV con las diferentes plataformas:
Platform: Plataforma.
Full_Name:Nombre completo de la plataforma.
Company: Empresa a la que pertenece la plataforma.

In [2]:
import csv
import pandas as pd
import numpy as np

In [8]:
datos = pd.read_csv("data/vgsales.csv")
datos.head(5)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [9]:
plataforma = pd.read_csv("data/platform.csv")
plataforma.head(5)

  Platform                    Full_Name   Company
0     2600                   Atari 2600     Atari
1      3DO  3DO Interactive Multiplayer       3DO
2      3DS                 Nintendo 3DS  Nintendo
3       DC                    DreamCast      Sega
4       DS                  Nintendo DS  Nintendo