In [94]:
import imdb
import csv
import pandas as pd
import numpy as np
from sklearn.cross_validation import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import GaussianNB

In [95]:
datos = pd.read_csv("peliculas.csv", sep='\t', lineterminator='\r')

In [96]:
datos.head()

                            Titulo      ID           Genero  Usuario
0    \nLa guerra de las galaxias I  120915  Ciencia Ficcion        1
1   \nLa guerra de las galaxias II  121765  Ciencia Ficcion        1
2  \nLa guerra de las galaxias III  121766  Ciencia Ficcion        1
3   \nLa guerra de las galaxias IV   76759  Ciencia Ficcion        1
4    \nLa guerra de las galaxias V   80684  Ciencia Ficcion        1

In [97]:
IdFilm=datos["ID"]

In [98]:
access = imdb.IMDb()
ia = imdb.IMDb('http')

In [99]:
sinopsis = pd.DataFrame(columns=['Id', 'title', 'synopsis'])
for i in IdFilm:
    movie = ia.get_movie(i)
    ia.update(movie, 'synopsis') # fetch the 'synopsis' data set.
    auxTitle=movie.get('title')
    auxSynopsis=movie.get('synopsis')
    sinopsis.loc[i]=[i,auxTitle,auxSynopsis]
sinopsis.head()

,Id,title,synopsis
120915,120915.0,Star Wars: Episode I - The Phantom Menace,The opening crawl reveals that the Trade Feder...
121765,121765.0,Star Wars: Episode II - Attack of the Clones,The opening crawl reveals that the Galactic Re...
121766,121766.0,Star Wars: Episode III - Revenge of the Sith,The opening crawl reveals that the galaxy is i...
76759,76759.0,Star Wars,Note: Italicized paragraphs describe scenes ad...
80684,80684.0,Star Wars: Episode V - The Empire Strikes Back,In this sequel to the previous Star Wars movie...

In [100]:
x = sinopsis['synopsis']
y = datos['Usuario']

In [101]:
#dividimos la muestra en train (80%) y test (20%) para los dos usuarios
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [102]:
y_test

80    1
53    0
13    1
82    1
50    0
5     1
15    1
64    0
90    0
75    1
2     1
35    0
72    1
60    0
69    0
24    1
37    0
67    0
23    1
81    1
Name: Usuario, dtype: int64

In [108]:
print datos.loc[80]
print datos.loc[90]
print datos.loc[35]
print datos.loc[69]

Titulo     \nCometieron dos errores
ID                            61747
Genero                        Oeste
Usuario                           1
Name: 80, dtype: object
Titulo     \ncomo agua para chocolate
ID                             103994
Genero                         cocina
Usuario                             0
Name: 90, dtype: object
Titulo     \nbuscando a nemo
ID                    266543
Genero             Animacion
Usuario                    0
Name: 35, dtype: object
Titulo     \nEncerrado
ID               97770
Genero           drama
Usuario              0
Name: 69, dtype: object

In [104]:
vectorizer = CountVectorizer()
vectorizer.fit(x_train)
x_vectrain = vectorizer.transform(x_train)
x_vectest = vectorizer.transform(x_test)

In [105]:
model = GaussianNB()
model.fit(x_vectrain.toarray(), y_train)

GaussianNB()

In [106]:
pred=model.predict(x_vectest.toarray())

In [107]:
result = pd.DataFrame(columns=['comparacion'])
i = 0
while i < len(pred):
    result.loc[i]= (y_test.iloc[i]== pred[i])
    i=i+1
result

   comparacion
0        False
1         True
2         True
3         True
4         True
5         True
6         True
7         True
8        False
9         True
10        True
11       False
12        True
13        True
14       False
15        True
16        True
17        True
18        True
19        True